S3_ENDPOINT=https://s3.us-west-1.amazonaws.com
BUCKET=YOUR_BUCKET
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=_YOUR_AWS_SECRET_ACCESS_KEY
SES_IDENTITY_SENDER=YOUR_SES_IDENTITY_SENDER_EMAIL_ADDRESS
SES_SMTP_ENDPOINT=email-smtp.us-west-1.amazonaws.com
SES_SMTP_USERNAME=YOUR_SES_SMTP_USERNAME
SES_SMTP_PASSWORD=YOUR_SES_SMTP_PASSWORD

